trip_diary_client/miniprogram_npm
trip_diary_client\__MACOSX
trip_diary_client/mock
trip_diary_client/node_modules/
trip_diary_client/.prettierrc

trip_diary_server/node_modules/
trip_diary_server/upload/
trip_diary_server/.env

